{% extends "skip_logic/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Choice Details{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'skip_logic:survey_index' %}" class="w3-round w3-hover-pale-blue">
My Surveys</a> >
<a href="{% url 'skip_logic:survey_detail' choice.question.page.survey.slug %}" class="w3-round w3-hover-pale-blue">
<i class="fa fa-list-alt" aria-hidden="true"></i> <strong>{{ choice.question.page.survey.title|truncatechars:30 }}</strong></a> >
<a href="{% url 'skip_logic:page_detail' choice.question.page.slug %}" class="w3-round w3-hover-pale-blue">
<i class="fa fa-file-o" aria-hidden="true"></i> <strong>{{ choice.question.page.title|truncatechars:30 }}</strong></a> > 
<a href="{% url 'skip_logic:question_detail' choice.question.slug %}" class="w3-round w3-hover-pale-blue">
<i class="fa fa-question-circle-o" aria-hidden="true"></i> <strong>{{ choice.question.question_text|truncatechars:30 }}</strong></a> > 
<i class="fa fa-dot-circle-o" aria-hidden="true"></i> <strong>{{ choice.choice_text|truncatechars:30 }}</strong>
{% endblock %}

{% block page %}

  <h1 class="w3-center">Choice: {{ choice.choice_text }}</h1>

  <div class="w3-card w3-padding w3-light-grey">
    <h3><i class="fa fa-dot-circle-o" aria-hidden="true"></i> Choice Details</h3>
    <p><strong>Choice Text:</strong> {{ choice.choice_text }}</p>
    <p><strong>Text Input Field:</strong> {% if choice.input_field %}Yes{% else %}No{% endif %}</p>
      {% if choice.choice_image %}
        <p><strong>Image:</strong>
          <div class="choiceimg" style="background-image: url('{{ choice.choice_image.url }}'); margin-top:20px;margin-bottom:10px; background-size: 100%;"></div>
        </p>
      {% endif %}
    <p><strong>URL Slug:</strong> {{ choice.slug }}</p>

    <div class="w3-cell-row w3-margin w3-center">
      <div class="w3-cell">
        <a class="w3-button-blue"
           href="{% url 'skip_logic:choice_edit' choice_slug=choice.slug %}">
           <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Choice Details
        </a>
      </div>
      <div class="w3-cell">
        <a class="w3-button w3-border w3-hover-shadow w3-round-large w3-text-dark-grey"
           href="{% url 'skip_logic:choice_delete' choice_slug=choice.slug %}">
           <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Remove Choice
        </a>
      </div>
    </div>
  </div>

  <div class="w3-card w3-padding w3-light-grey w3-margin-top">
    <h3><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Branching Logic</h3>
    {% if choice.path_choice.all|length is 0 %}
      <p>This choice has no path. Click the "Add path" button below to add a path leading to a page.</p>
      <div class="w3-container w3-center w3-margin">
        <a class="w3-button-blue w3-large"
           href="{% url 'skip_logic:path_new' choice_slug=choice.slug %}">
           <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Path...
        </a>
      </div>
    {% endif %}


    <table class="w3-table-all" style="width:80%;margin:auto;margin-bottom:23px;">
    {% if choice.path_choice.all|length > 0 %}
      <tr><th><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Destination Page</th><th></th></tr>
    {% endif %}
    {% for path in choice.path_choice.all %}
      <tr>
        <td><a href="{% url 'skip_logic:page_detail' path.page.slug %}">{{ path.page.title }}</a></td>
        <td class="w3-right">
          <a class="w3-button-blue w3-margin"
               href="{% url 'skip_logic:path_detail' path_slug=path.slug %}">
               <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Path Details
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div class="w3-container w3-center w3-margin">
    <a class="w3-button w3-border w3-hover-shadow w3-round-large w3-text-dark-grey"
       href="{% url 'skip_logic:question_detail' question_slug=choice.question.slug %}">
      <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Back to Question
    </a>
  </div>

{% endblock %}
