{% extends "skip_logic/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Page Details" %}{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'skip_logic:survey_index' %}" class="w3-round w3-hover-pale-blue">
My Surveys</a> > 
<a href="{% url 'skip_logic:survey_detail' page.survey.slug %}" class="w3-round w3-hover-pale-blue"> 
<i class="fa fa-list-alt" aria-hidden="true"></i> <strong>{{ page.survey.title }}</strong></a> > 
<i class="fa fa-file-o" aria-hidden="true"></i> <strong>{{ page.title }}</strong>
{% endblock %}

{% block page %}
  <h1 class="w3-center">Page: {{ page.title }}</h1>

  {% if page.question_page.all|length == 0 %}
  <div id="nextstep_question" class="w3-padding w3-margin w3-border w3-sand">
    <span class="w3-text-dark-grey closebtn" onclick="$('#nextstep_question').slideUp();">&times;</span>
    <p><strong>Next steps: Add a Question</strong></p>
    <p>You need at least one question for your page!</p>
    <p>Click the "Add New Question..." button below to create a new question for your page.</p>
  </div>
  {% endif %}

  <div class="w3-card w3-padding w3-light-grey">
    <h3><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Page Details</h3>
    <p><strong>Title:</strong> {{ page.title }}</p>
    <p><strong>Page Text:</strong> {{ page.page_text }}</p>
    <p><strong>Page Number:</strong> {{ page.page_number }}</p>
    <p><strong>Send to Call to Action:</strong> {% if page.is_last %}Yes{% else %}No{% endif %}</p>
    <p><strong>URL Slug:</strong> {{ page.slug }}</p>
    <div class="w3-cell-row w3-margin w3-center">
      <div class="w3-cell">
        <a class="w3-button-blue" 
           href="{% url 'skip_logic:page_edit' page_slug=page.slug %}">
           <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Page Details
        </a>
      </div>
      <div class="w3-cell">
        <a class="w3-button w3-border w3-hover-shadow w3-round-large w3-text-dark-grey"
           href="{% url 'skip_logic:page_delete' page_slug=page.slug %}">
           <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Remove Page
        </a>
      </div>
    </div>
  </div>


  <div class="w3-card w3-padding w3-light-grey w3-margin-top">
    <h3><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Questions</h3>
    {% if page.question_page.all|length is 0 %}
      <p>This page doesn't have any questions yet!</p>
      <p>Click the "Add new question..." button to get started.</p>
    {% endif %}

    <div class="w3-container w3-center w3-margin">
      <a class="w3-button-blue w3-large" title="Click to add new question"
         href="{% url 'skip_logic:question_new' page_slug=page.slug %}">
        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add New Question...
      </a>
    </div>

    <table class="w3-table-all">
    {% if page.question_page.all|length > 0 %}
      <tr><th>Number</th><th>Text</th><th>URL Slug</th><th></th></tr>
    {% endif %}
    {% for question in page.question_page.all %}
      <tr>
        <td>{{ question.question_number }}</td>
        <td>{{ question.question_text }}</td>
        <td>{{ question.slug }}</td>
        <td class="w3-right">
          <a class="w3-button-blue" title="Click to view question details"
               href="{% url 'skip_logic:question_detail' question_slug=question.slug %}">
               <i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Question Details
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div class="w3-card w3-padding w3-light-grey w3-margin-top">
    <h3><i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Branching Logic</h3>

    <div class="w3-round-large w3-border w3-padding w3-margin">
    {% if page.path_page.all|length > 0 %}
        <h5>Inbound Paths:</h5>
    {% else %}
        There are no inbound paths for this page.
    {% endif %}
      <div class="w3-cell-row w3-center w3-margin-top">
        {% for path in page.path_page.all %}
          <div class="w3-cell w3-container">
            <div class="w3-border" style="padding:5px;">
              <a style="text-decoration:none;" 
                 href="{% url 'skip_logic:page_detail' path.choice.question.page.slug %}">
                <div class="w3-card w3-blue w3-hover-shadow" 
                     style="height:75px; margin:auto; margin-bottom:20px; padding:5px;">
                  <strong><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Page</strong><br>
                  <small>{{ path.choice.question.page.title|truncatechars:40 }}</small>
                </div>
              </a>
              <a style="text-decoration:none;" 
                 href="{% url 'skip_logic:question_detail' path.choice.question.slug %}">
                <div class="w3-card w3-pale-blue w3-hover-shadow" 
                     style="height:75px; margin:auto; margin-bottom:20px; padding:5px;">
                     <i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Question</strong><br>
                  <small>{{ path.choice.question.question_text|truncatechars:40 }}</small>
                </div>
              </a>
              <a style="text-decoration:none;" 
                 href="{% url 'skip_logic:choice_detail' path.choice.slug %}">
                <div class="w3-card w3-light-grey w3-hover-shadow" 
                     style="height:75px; margin:auto; padding:5px;">
                     <strong><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Choice</strong><br>
                  <small>{{ path.choice.choice_text|truncatechars:40 }}</small>
                </div>
              </a>
            </div>
            <div><h2><i class="fa fa-long-arrow-down" aria-hidden="true"></i></h2></div>
          </div>
        {% endfor %}
      </div>

      <div class="w3-cell-row w3-center">
        <div class="w3-cell w3-container">
          <div class="w3-card w3-blue" style="margin-bottom:20px;padding:10px;"">
            <h3 class="pagepath"><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;This Page: {{ page.title }}</h3>
          </div>
        </div>
      </div>

      <div class="w3-cell-row w3-center">
        {% for this_question in page.question_page.all %}
          {% for this_choice in this_question.choice_question.all %}
            {% for this_path in this_choice.path_choice.all %}
            <div class="w3-cell w3-container">
              <div class="w3-border" style="padding:10px;">
                <a style="text-decoration:none;" 
                   href="{% url 'skip_logic:question_detail' this_path.choice.question.slug %}">
                  <div class="w3-card w3-pale-blue w3-hover-shadow" 
                       style="height:75px; margin:auto; margin-bottom:20px; padding:5px;">
                    <strong><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Question</strong><br> 
                    <small>{{ this_path.choice.question.question_text|truncatechars:40 }}</small>
                  </div>
                </a>
                <a style="text-decoration:none;" 
                   href="{% url 'skip_logic:choice_detail' this_path.choice.slug %}">
                  <div class="w3-card w3-light-grey w3-hover-shadow" 
                       style="height:75px; margin:auto; padding:5px;">
                    <strong><i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Choice</strong><br>
                    <small>{{ this_path.choice.choice_text|truncatechars:40 }}</small>
                  </div>
                </a>
                <div><h2><i class="fa fa-long-arrow-down" aria-hidden="true"></i></h2></div>
                <a style="text-decoration:none;" 
                   href="{% url 'skip_logic:page_detail' this_path.page.slug %}">
                  <div class="w3-card w3-blue w3-hover-shadow" 
                       style="height:75px; margin:auto; padding:5px;">
                    <strong><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Page</strong><br>
                    <small>{{ this_path.page.title|truncatechars:40 }}</small>
                  </div>
                </a>

              </div>
            </div>
            {% endfor %}
          {% endfor %}
        {% endfor %}
      </div>
    </div>

    {% if page.path_page.all|length > 0 %}
    <table class="w3-table-all" style="width:95%;margin:auto;margin-bottom:23px;">
      <tr><th>Inbound Paths</th><th></th></tr>
    {% for path in page.path_page.all %}
      <tr>
        <td>
          <strong>Page:</strong> {{ path.choice.question.page.title }} &nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;<strong>Choice:</strong> {{ path.choice.choice_text }}&nbsp;&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;<strong>This Page:</strong> {{ path.page.title }}
        </td>
        <td class="w3-right">
          <a class="w3-button-blue"
               href="{% url 'skip_logic:path_detail' path_slug=path.slug %}">
               <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Details
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
    {% endif %}

    {% if page.question_page_all|length > 0 %}
    <table class="w3-table-all w3-text-dark-grey" style="width:95%; margin: auto; margin-bottom:20px;">
      <tr><th>Outbound Paths</th><th></th></tr>
      {% for this_question in page.question_page.all %}
        {% for this_choice in this_question.choice_question.all %}
          {% if this_choice.path_choice.count > 0 %}
            {% for this_path in this_choice.path_choice.all %}
              <tr>
                <td>
                  <strong>Choice:</strong> {{ this_choice.choice_text }}&nbsp;&nbsp;
                  <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;
                  <strong>Page:</strong> {{ this_path.page.title }}
                </td>
                <td class="w3-right">
                  <a class="w3-button-blue"
                       href="{% url 'skip_logic:path_detail' path_slug=this_path.slug %}">
                       <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Details
                   </a>
                </td>
              </tr>
            {% endfor %}
          {% endif %}
        {% endfor %}
      {% endfor %}
    {% else %}
      <div class="w3-card w3-sand w3-margin w3-padding w3-text-dark-grey">
        <h5>No outbound paths found</h5>
        <p>There are no outbound paths for this page. To create a path, first add a choice to a question, then add a path from that choice to the page you want to go to next.</p>
        <p><strong>Default next page:</strong> Page number {{ page.page_number|add:1 }}.</p>
      </div>
    {% endif %}
    </table>
  </div>

  <div class="w3-center w3-margin">
    <a class="w3-border w3-button w3-hover-shadow w3-round-large w3-text-dark-grey" 
       href="{% url 'skip_logic:survey_detail' survey_slug=page.survey.slug %}">
      <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Back to Survey
    </a>
  </div>

{% comment %}
</div>
{% endcomment %}
{% endblock %}
