{% extends "skip_logic/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}Confirm Question Removal{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'skip_logic:survey_index' %}" class="w3-round w3-hover-light-blue">
My Surveys</a> > 
<a href="{% url 'skip_logic:survey_detail' question.page.survey.slug %}" class="w3-round w3-hover-light-blue">
<i class="fa fa-list-alt" aria-hidden="true"></i> {{ question.page.survey.title }}</a> > 
<a href="{% url 'skip_logic:page_detail' question.page.slug %}" class="w3-round w3-hover-light-blue">
<i class="fa fa-file-o" aria-hidden="true"></i> {{ question.page.title }}</a> > 
Confirm Question Removal
{% endblock %}


{% block page %}

<div class="w3-container" style="margin-top:46px;">
  <h1 class="w3-center">Really remove question "{{ question.question_text }}"?</h1>

  <div>
    <div class="w3-container w3-center w3-margin">
      <p>This question will be removed from the page.</p>
      <p>If you continue, choices created for this question will also be removed, along with any paths leading from its choices.</p>
    </div>
  </div>

  <div class="w3-card w3-padding w3-light-grey w3-text-dark-grey" style="width: 80%;margin:auto;margin-bottom:23px;">
          <h5><i class="fa fa-question-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Question: {{ question.question_text }}</h5>
          <ul style="list-style-type:none;">
          {% for this_choice in question.choice_question.all %}
            <li>
              <i class="fa fa-dot-circle-o" aria-hidden="true"></i>&nbsp;&nbsp;Choice: {{ this_choice.choice_text }}
              <ul style="list-style-type:none;">
                {% for this_path in this_choice.path_choice.all %}
                  <li>
                    <i class="fa fa-arrow-right" aria-hidden="true"></i>&nbsp;&nbsp;Path: {{ this_path }}
                  </li>
                {% endfor %}
              </ul>
            </li>
             
          {% endfor %}
          </ul>
  </div>

  <div class="w3-cell-row w3-center">
    <div class="w3-cell">
      <form action="{% url 'skip_logic:question_detail' question.slug %}" method="get">
        <input class="w3-button-blue w3-margin" 
               type="submit" value="&#xf0e2;&nbsp;&nbsp;Oops, take me back!" />
      </form>
    </div>
    <div class="w3-cell">
      <form action="#" method="post">
        {% csrf_token %}
        <input class="w3-button w3-round-large w3-border w3-hover-dark-grey w3-hover-shadow w3-text-dark-grey" 
               type="submit" value="&#xf1f8;&nbsp;&nbsp;Delete this question forever" />
      </form>
    </div>
  </div>
</div>
{% endblock %}
