{% extends "skip_logic/base.html" %}

{% load i18n %}
{% load account socialaccount %}

{% block head_title %}{% trans "Survey Details" %}{% endblock %}

{% block breadcrumbs %}
<a href="{% url 'skip_logic:survey_index' %}" class="w3-round w3-hover-pale-blue">My Surveys</a> >
<i class="fa fa-list-alt" aria-hidden="true"></i> <strong>{{ survey.title }}</strong>
{% endblock %}

{% block page %}

  <h1 class="w3-center w3-margin">Survey: {{ survey.title }}</h1>

  <div class="w3-card w3-padding w3-light-grey">
    <h3><i class="fa fa-list-alt" aria-hidden="true"></i>&nbsp;&nbsp;Survey Details</h3>
    <p><strong>Title:</strong> {{ survey.title }}</p>
    <p><strong>Description:</strong> {{ survey.description }}</p>
    <p><strong>Date published:</strong> {{ survey.pub_date }}</p>
    <p><strong>URL Slug:</strong> {{ survey.slug }}</p>
    <p><strong>Call to Action URL:</strong> {{ survey.call_to_action_url }}</p>
    <p><strong>Call to Action Label:</strong> {{ survey.call_to_action_label }}</p>
    <p><strong>Call to Action Text:</strong> {{ survey.call_to_action_text|safe }}</p>
    <div class="w3-cell-row w3-margin w3-center">
      <div class="w3-cell">
        <div class="w3-button w3-hover-shadow w3-green w3-hover-green w3-round-large w3-margin-left w3-border">
          <a style="text-decoration:none;" href="{% url 'skip_logic:page' survey.slug survey.page_survey.all.0.slug %}" class="w3-text-light-grey">
            <i class="fa fa-play" aria-hidden="true"></i>&nbsp;&nbsp;Start
          </a>
        </div>
      </div>
      <div class="w3-cell">
        <a class="w3-button-blue"
           href="{% url 'skip_logic:survey_edit' survey_slug=survey.slug %}">
           <i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;&nbsp;Edit Survey Details
        </a>
      </div>
      <div class="w3-cell">
        <a class="w3-button w3-border w3-hover-shadow w3-round-large w3-text-dark-grey"
           href="{% url 'skip_logic:survey_delete' survey_slug=survey.slug %}">
           <i class="fa fa-trash" aria-hidden="true"></i>&nbsp;&nbsp;Remove Survey
        </a>
      </div>
    </div>
  </div>


  <div class="w3-card w3-padding w3-light-grey w3-margin-top">
    <h3><i class="fa fa-file-o" aria-hidden="true"></i>&nbsp;&nbsp;Pages</h3>
    {% if survey.page_survey.all|length is 0 %}
      <p>This survey doesn't have any pages yet! Get started by clicking the "Add new page..." button below.</p>
    {% endif %}
    <div class="w3-container w3-margin w3-center">
      <a class="w3-button-blue w3-large"
         href="{% url 'skip_logic:page_new' survey.slug %}">
         <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add new page...
      </a>
    </div>
    <table class="w3-table-all">
    {% if survey.page_survey.all|length > 0 %}
      <tr><th>Number</th><th>Title</th><th>Send to CTA?</th><th>URL Slug</th><th></th></tr>
    {% endif %}
    {% for page in survey.page_survey.all %}
      <tr>
        <td>{{ page.page_number }}</td>
        <td>{{ page.title }}</td>
        <td>{% if page.path_page.count|length is 0 %}<i class="fa fa-check" aria-hidden="true"></i>{% else %}{% endif %}</td>
        <td>{{ page.slug }}</td>
        <td class="w3-right"><a class="w3-button-blue" 
               href="{% url 'skip_logic:page_detail' page.slug %}">
               <i class="fa fa-edit" aria-hidden="true"></i>&nbsp;&nbsp;Page Details
          </a>
        </td>
      </tr>
    {% endfor %}
    </table>
  </div>

  <div class="w3-center">
    <a class="w3-button w3-border w3-hover-shadow w3-round-large w3-text-dark-grey w3-margin"
       href="{% url 'skip_logic:survey_index' %}">
      <i class="fa fa-undo" aria-hidden="true"></i>&nbsp;&nbsp;Back to Survey List
    </a>
  </div>

{% endblock %}
